//
// Base
// ---------------------------

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


// Border-box everything
// ----------------------
// (http://paulirish.com/2012/box-sizing-border-box-ftw/)
// Use with caution if app needs to support oldIE (6,7,8)
// Updated inheritence version: http://blog.teamtreehouse.com/box-sizing-secret-simple-css-layouts#comment-50223
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

// Body reset
// -----------
body {
    font-family: $baseFontFamily;
    color: $textColor;
    background-color: $bodyBackground;
    @include rem(font-size, $baseFontSize);
}
