//
// Elements
// ---------------------------

// Horizontal rules

hr {
    margin: $baseLineHeight 0;
    border: 0;
    border-top: 1px solid $hrBorder;
}

// img

img {
    max-width: 100%;
    border-width: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

// figure

figure {
    margin: 0;
    img {}
    figcaption {}
}

/* ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
} */
