//
// Forms
// ---------------------------

form {
    margin: 0 0 $baseLineHeight 0;
    fieldset {
        margin-bottom: $baseLineHeight;
        padding: 0;
        border-width: 0;
    }
    legend {}
    p {
        margin-bottom: $baseLineHeight / 2;
    }
    ul {
        list-style-type: none;
        margin: 0 0 $baseLineHeight 0;
        padding: 0;
    }
}
