//
// Typography
// ---------------------------

// Body text
// ---
li,
p {
    font-size: 1.6em;
    line-height: 1.4;
}

p {
    margin: 0 0 1em;
}

// Emphasis & Misc
// ---
em {
    font-style: italic;
}

strong {
    font-weight: $bold;
}

// Headings
// ---
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $headingsFontWeight;
    font-family: $headingsFontFamily;
    line-height: 1;
    color: $headingsColor;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}
