//
// Utilities
// --------------------------------------------------

// Floats
.pull-right { float: right; }
.pull-left { float: left; }

// Toggling
.hide, .hidden { display: none; }
.show { display: block; }

// Visibility
.invisible { visibility: hidden; }
.visible { visibility: visible; }

// Clearing floats
.clearfix { @include clearfix; }

// Accessible yet invisible text
.hide-text { @include hide-text; }

// No pointer events
.no-pointer-events { pointer-events: none; }
