// if supporting IE, `useBuiltIns` must be set to `false`
{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "last 2 versions"
                ]
            },
            "useBuiltIns": false,
            "debug": true
        }],
        "react",
        "stage-2"
    ],
    "plugins": [
        [ "module-resolver", {
            "alias": {
                "actions": "./src/javascript/actions",
                "components": "./src/javascript/components",
                "config": "./src/javascript/config",
                "libs": "./src/javascript/libs",
                "stores": "./src/javascript/stores",
                "utils": "./src/javascript/utils",
                "middleware": "./src/javascript/middleware"
            }
        }]
    ]
}
