{
    "presets": [
        "es2015",
        "react",
        "stage-2"
    ],
    "plugins": [
        "transform-class-properties",
        [ "module-resolver", {
            "alias": {
                "actions": "./src/javascript/actions",
                "components": "./src/javascript/components",
                "config": "./src/javascript/config",
                "libs": "./src/javascript/libs",
                "stores": "./src/javascript/stores",
                "utils": "./src/javascript/utils",
                "middleware": "./src/javascript/middleware"
            }
        }]
    ]
}
