#app {
    > div {
        overflow: hidden;

        > nav {
            position: fixed;
        }

        > main {
            margin: 2.2em 2em 2em 15em;
        }

        > footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            border-top: 1px solid #eee;
        }
    }
}
