//
// Application
// ---------------------------

// Note: This partial should not be utilized for a production application
// Application-level components should be defined at the top level, i.e. base.scss, layout.scss, etc
// This partial is set aside to provide an initial "skin" for the boilerplate, and should probably be deleted entirely

.app {
    $padding: 2rem;
    position: absolute;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;
    background-color: #8bd5a1;
    background-image: url(../images/theme-art.png);
    > div {
        overflow: hidden;
        letter-spacing: 0.025em;
        text-transform: uppercase;
    }
}

nav {
    position: absolute;
    background-image: url(../images/haus-friend.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    @include rem(margin, 2.5);
    @include rem(padding-top, 10);
    @include rem(width, 10);
}

main {
    max-width: 50em;
    @include rem(margin, 6, 2, 2, 16);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
