//
// Application
// ---------------------------

.app {
    min-height: 100%;
    border: 1em solid $white;
    background-color: $green;
    background-image: url(../images/theme-art.png);
    background-position: center center;
    font-size: 1em;
}

@include mobile {
    .app {
        font-size: 1.05em;
    }
}

@include largeMobile {
    .app {
        font-size: 1.2em;
    }
}

@include tablet {
    .app {
        font-size: 1.3em;
    }
}

@include desktop {
    .app {
        font-size: 1.4em;
    }
}

@include largeDesktop {
    .app {
        font-size: 1.25em;
    }
}
